.minecraft/saves/*
.minecraft/journeymap/*
.minecraft/logs/*
.minecraft/screenshot/*
.minecraft/server-resource-packs/*
.minecraft/valkyrielib/*
.minecraft/*.log
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/config/jei/worldSettings.cfg